.main {
    box-sizing: border-box;
    padding: 1rem;
    min-height: 80vh;

    @media (max-width: 768px) {
        min-height: 85vh;
    }
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}
