.filmcard {
    flex: 0 1 20% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: 1s ease;
    cursor: pointer;
    margin: 10px;

    @media (max-width: 1024px) {
        flex: 0 1 25%;
    }

    @media (max-width: 800px ) {
        flex: 0 1 45%;
    }

    @media (max-width: 500px ) {
        flex: 0 1 65%;
    }

    &:hover .filmcard__title {
        display: block;
    }

    &:hover:after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(43deg, rgba(65, 88, 208, 0.8) 0%, rgba(200, 80, 192, 0.8) 46%, #ffcc70 100%);
    }

    &__img {
        height: 350px;
        display: flex;
        transition: 0.5s ease;

        &:hover {
            box-shadow: 10px 10px #95e1d3;
            cursor: pointer;
        }

        img {
            max-width: 100%;
        }
    }

    &__title {
        display: none;
        color: white;
        overflow: hidden;
        min-width: 100%;
        position: absolute;
        left: 50%;
        top: 40%;
        z-index: 1;
        transform: translate(-50%, -50%);
        animation: zoomIn .9s ease;
        text-align: center;
        font-weight: bold;

        &-name {
            font-weight: bold;
            font-size: 2rem;
            padding-bottom: 0.5rem;
            margin-bottom: .5rem;
        }

        &-year {
            font-size: 1.5rem;
        }

        &-type {
            font-size: 1.3rem;
            line-height: 2.2rem;
        }
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
