.footer {
    padding: 25px;
    background-image: linear-gradient(43deg, rgba(65, 89, 208, 0.83) 0%, rgb(200, 80, 192) 46%, #ffcc70 100%);

    &__content {
    }

    &__text {
        font-size: 18px;
        color: white;
    }
}
