
.search-panel {
    &__input {
        width: 50%;
        margin: 0 auto;
        position: relative;

        input {
            width: 100%;
            border: 0.5px solid #fbdbff;
            border-radius: 25px;
            padding: 1rem 2rem 1rem 5rem;
            color: grey;
            font-size: 20px;
            font-weight: normal;
            transition: 0.1s linear;

            &:focus,
            &:hover {
                font-weight: bold;
                box-shadow: 3px 3px 10px #fbdbff;
                border-color: #c066ceb3;
                color: #c066ceb3;
            }
        }
    }

    &__magnifier {
        position: absolute;
        top: 10%;
        right: 1%;
        background: url("../../../images/SearchPanel/search-panel-magnifier.svg") no-repeat center;
        background-color: white;
        margin-left: 1rem;
        padding: 1.5rem 1.5rem;
        // padding: 1.5rem 3rem;
        border: 0.5px solid white;
        border-radius: 25px;
        transition: 0.3s ease;

        &:hover {
            box-shadow: 3px 3px 8px #f4b4fc;
        }

        &:active {
            background-color: #c066ceb3;
            color: white;
        }
    }

    &__sort {
        position: absolute;
        top: 10%;
        left: 1%;
        background: url("../../../images/SearchPanel/search-panel-sort.svg") no-repeat center;
        background-color: white;
        padding: 1.5rem 1.5rem;
        border: 0.5px solid white;
        border-radius: 25px;
        transition: 0.3s ease;

        &:hover {
            box-shadow: 3px 3px 8px #f4b4fc;
        }

        &:active {
            background-color: #c066ceb3;
            color: white;
        }
    }

    &__sortlist {
        display: flex;
        justify-content:  center;
    }
}

.sortlist__category {
    display: flex;
    padding: 1rem 0;
}

.radio {
    margin: 0.5rem;
    color: rgb(155, 154, 154);

    input[type="radio"] {
        position: absolute;
        opacity: 0;

        + .radio-label {
            font-size: 1.5rem;
            cursor: pointer;
            &:before {
                content: "";
                background: white;
                border-radius: 100%;
                border: 1px solid #fbdbff;
                display: inline-block;
                width: 1.2em;
                height: 1.2em;
                position: relative;
                top: -0.1em;
                margin-right: .5em;
                vertical-align: top;
                cursor: pointer;
                text-align: center;
                transition: all .4s ease;
            }
        }
        &:checked {
            + .radio-label {
                color: #c066ceb3;

                &:before {
                    border: none;
                    background-color: #c066ceb3;
                    box-shadow: inset 0 0 0 5px white;
                }
            }
        }
        &:focus {
            + .radio-label {
                &:before {
                    outline: none;
                    border-color: #c066ceb3;
                }
            }
        }
        &:disabled {
            + .radio-label {
                &:before {
                    box-shadow: inset 0 0 0 4px white;
                    border-color: darken(white, 25%);
                    background: darken(white, 25%);
                }
            }
        }
        + .radio-label {
            &:empty {
                &:before {
                    margin-right: 0;
                }
            }
        }
    }
}

// .sortlist {
//     padding: 1rem;
//     justify-content: center;
//     flex-direction: column;
//     color: #c066ceb3;
//     font-size: 1.4rem;

//     &__category {
//         display: flex;
//         justify-content: center;
//         margin-bottom: .7rem;

//         &-item {
//             margin: 0 0.5rem;
//             position: relative;
//             padding: 1rem;
//             cursor: pointer;
//             border: 0.5px solid #ffffffb3;
//             transition: 0.4s ease;
//             border-radius: 25px;

//             &:hover {
//                 box-shadow: 1px 1px 5px #f4b4fc;
//             }

//             &--active {
//                 background-color: #c066ceb3;
//                 color: white;
//                 box-shadow: 1px 1px 5px #f4b4fc;
//             }
//         }

//     }

// }
